/* Write your CSS here */
:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: bree serif;
}

.not-found-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}
