/* Write your CSS here */
:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Bree serif;
}

.team-matches-app-cont {
  background-image: linear-gradient(to bottom, #a4261d, #d91c1f, #1e293b);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.team-matches-main-cont {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.banner-img {
  width: 100%;
  height: 45rem;
  object-fit: contain;
  object-position: center;
}

.sub-heading {
  color: white;
  font-size: 2rem;
  font-weight: bold;

  font-family: Bree Serif;
}

.recent-match-cont {
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}
